.country-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
  margin-top: 50px;
  padding: 0 20px;
}

.country-card {
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: 8px;
  transition: 0.3s;
  background-color: var(--color-white);
  cursor: pointer;
  text-decoration: none;
  box-shadow: 5px 5px 10px 0px #dfd5d5;
  color: var(--light-mode-text);
}

.main-container.dark .country-card {
  background-color: var(--dark-blue-elements);
  color: var(--color-white);
  box-shadow: 5px 5px 10px 0px #1a1717;
}

.country-image {
  height: 200px;
}

.country-content {
  padding: 2rem;
}

.country-content p {
  margin-top: 1rem;
  font-weight: 600;
}

.country-content p span {
  font-weight: 300;
}
